<!DOCTYPE html>
<html>
<head>

<!-- <script>
	var r2 = new XMLHttpRequest(); 
	r2.open("POST", 'https://api.talkdeskapp.com/calls/callback', true);
	r2.setRequestHeader("Authorization", "Bearer {{ data }}");
	r2.setRequestHeader("Content-type", "application/json");
	r2.send('{"talkdesk_phone_number":"+18555888924","contact_phone_number":"+14086494479"}');
	r2.onreadystatechange = function () {
		if (r2.readyState === XMLHttpRequest.DONE && r2.status === 200)
		{
			var response2 = r2.responseText;
			var obj2 = JSON.stringify(response2);
		} 
	}
</script> -->


</head>
<body>

<h1>Callback Testing</h1>
<p>Variable {{ data }}</p>


</body>
</html>