<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Talkdesk Credit Union">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Talkdesk Credit Union</title>

    <!-- Skeleton Boilerplate CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="apple-touch-icon" sizes="57x57" href="https://prd-cdn-talkdesk.talkdesk.com/cdn-assets/v1.0.5/talkdesk/brand/main_brand/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://prd-cdn-talkdesk.talkdesk.com/cdn-assets/v1.0.5/talkdesk/brand/main_brand/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://prd-cdn-talkdesk.talkdesk.com/cdn-assets/v1.0.5/talkdesk/brand/main_brand/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://prd-cdn-talkdesk.talkdesk.com/cdn-assets/v1.0.5/talkdesk/brand/main_brand/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://prd-cdn-talkdesk.talkdesk.com/cdn-assets/v1.0.5/talkdesk/brand/main_brand/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://prd-cdn-talkdesk.talkdesk.com/cdn-assets/v1.0.5/talkdesk/brand/main_brand/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://prd-cdn-talkdesk.talkdesk.com/cdn-assets/v1.0.5/talkdesk/brand/main_brand/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://prd-cdn-talkdesk.talkdesk.com/cdn-assets/v1.0.5/talkdesk/brand/main_brand/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://prd-cdn-talkdesk.talkdesk.com/cdn-assets/v1.0.5/talkdesk/brand/main_brand/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://prd-cdn-talkdesk.talkdesk.com/cdn-assets/v1.0.5/talkdesk/brand/main_brand/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://prd-cdn-talkdesk.talkdesk.com/cdn-assets/v1.0.5/talkdesk/brand/main_brand/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://prd-cdn-talkdesk.talkdesk.com/cdn-assets/v1.0.5/talkdesk/brand/main_brand/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://prd-cdn-talkdesk.talkdesk.com/cdn-assets/v1.0.5/talkdesk/brand/main_brand/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://prd-cdn-talkdesk.talkdesk.com/cdn-assets/v1.0.5/talkdesk/brand/main_brand/favicon/manifest.json">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>

  </head>
  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  
<!-- 
      <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <div class="android-logo-image">
                <a class="mdl-navigation__link" href="/"><h3>talkdesk credit union</h3></a>
            </div>
          </span>
          <div class="android-header-spacer mdl-layout-spacer"></div>
          <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
          </div>
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Loans</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Mortgages</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Personal Banking</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/support">Support</a>
            </nav>
          </div>
          <span class="android-mobile-title mdl-layout-title">
            <div class="android-logo-image">
                <a class="mdl-navigation__link" href="/"><h3>tdcu</h3></a>
            </div>
          </span>
          <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li class="mdl-menu__item"><a class="mdl-navigation__link mdl-typography--text-uppercase" target="_blank" href="https://talkforce.talkdeskid.com">Talkdesk</a></li>
          </ul>
        </div>
      </div> -->
<!-- 
      <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
            <div class="android-logo-image">
                <a class="mdl-navigation__link" href="/"><h3 style="color:#ffffff">tdcu</h3></a>
            </div>
        </span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Loans</a>
          <a class="mdl-navigation__link" href="">Mortgages</a>
          <a class="mdl-navigation__link" href="">Personal Banking</a>
          <a class="mdl-navigation__link" href="/support">Support</a>
        </nav>
      </div> -->

<div class="android-content mdl-layout__content">
     <div style="text-align:center;padding-top: 200px" class="container">
      <h3 style="color: #202830">send email</h3>

      <a href="#compose-modal" data-toggle="modal" id="compose-button" class="hidden mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Compose</a>

      <button id="authorize-button" class="hidden mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Authorize</button>
    </div>

    <div class="modal fade" id="compose-modal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content" style="text-align:center; padding-bottom: 50px;border-radius: 10px">
          <div class="modal-header">
            <button type="button" class="close mdl-button mdl-js-button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title" style="margin-left: 60px">compose</h3>
          </div>
          <form id="redirect2" onsubmit="return sendEmail();">
            <div class="modal-body">

              <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="text" class="form-control mdl-textfield__input" id="compose-subject" placeholder="subject">
              </div>

              <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="form-control mdl-textfield__input" id="compose-message" placeholder="message" rows="5"></textarea>
              </div>
            </div>
            <div class="modal-footer">
  <!--             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
              <button type="submit" id="send-button" style="background-color: #202830; color: #ffffff"  class="btn btn-primary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<!--       <div class="android-content mdl-layout__content">


        <footer style="z-index: -2" class="android-footer mdl-mega-footer">
          <div class="mdl-mega-footer--top-section">
            <div class="mdl-mega-footer--left-section">
              <a href="https://www.facebook.com/talkdeskcreditunion/" target="_blank" class="fa fa-facebook"></a>
              &nbsp;
              <a href="https://twitter.com/TalkdeskU" target="_blank" class="fa fa-twitter"></a>
              &nbsp;
              <a href="https://instagram.com" target="_blank" class="fa fa-instagram"></a>
            </div>
            <div class="mdl-mega-footer--right-section">
              <a class="mdl-typography--font-light" href="#top">
                Back to Top
                <i class="material-icons">expand_less</i>
              </a>
            </div>
          </div>

          <div class="mdl-mega-footer--middle-section">
            <p class="mdl-typography--font-light">© 2019 Talkdesk - San Francisco, CA</p>
            <p class="mdl-typography--font-light">Designed by: Previn Wong</p>
          </div>

        </footer>
      </div> -->
    </div>
</div>
<!--         <a href="https://www.talkdesk.com/platform/omnichannel/" style="background-color: #ffffff;" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Live Chat</a> -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      var clientId = '598492197034-6gnk7sdne27d8oftqdv7qeujpsnpaih1.apps.googleusercontent.com';
      var apiKey = 'AIzaSyA5FOUbGUNxNbkClRFEkxrAdPJiG0_wbwc';
      var scopes =
        'https://www.googleapis.com/auth/gmail.readonly '+
        'https://www.googleapis.com/auth/gmail.send';

      function handleClientLoad() {
        gapi.client.setApiKey(apiKey);
        window.setTimeout(checkAuth, 1);
      }

      function checkAuth() {
        gapi.auth.authorize({
          client_id: clientId,
          scope: scopes,
          immediate: true
        }, handleAuthResult);
      }

      function handleAuthClick() {
        gapi.auth.authorize({
          client_id: clientId,
          scope: scopes,
          immediate: false
        }, handleAuthResult);
        return false;
      }

      function handleAuthResult(authResult) {
        if(authResult && !authResult.error) {
          loadGmailApi();
          $('#authorize-button').remove();
          $('.table-inbox').removeClass("hidden");
          $('#compose-button').removeClass("hidden");
        } else {
          $('#authorize-button').removeClass("hidden");
          $('#authorize-button').on('click', function(){
            handleAuthClick();
          });
        }
      }

      function loadGmailApi() {
        gapi.client.load('gmail', 'v1', displayInbox);
      }

      function displayInbox() {
        var request = gapi.client.gmail.users.messages.list({
          'userId': 'me',
          'labelIds': 'INBOX',
          'maxResults': 10
        });
        request.execute(function(response) {
          $.each(response.messages, function() {
            var messageRequest = gapi.client.gmail.users.messages.get({
              'userId': 'me',
              'id': this.id
            });
            messageRequest.execute(appendMessageRow);
          });
        });
      }

      function appendMessageRow(message) {
        $('.table-inbox tbody').append(
          '<tr>\
            <td>'+getHeader(message.payload.headers, 'From')+'</td>\
            <td>\
              <a href="#message-modal-' + message.id +
                '" data-toggle="modal" id="message-link-' + message.id+'">' +
                getHeader(message.payload.headers, 'Subject') +
              '</a>\
            </td>\
            <td>'+getHeader(message.payload.headers, 'Date')+'</td>\
          </tr>'
        );
        var reply_to = (getHeader(message.payload.headers, 'Reply-to') !== '' ?
          getHeader(message.payload.headers, 'Reply-to') :
          getHeader(message.payload.headers, 'From')).replace(/\"/g, '&quot;');

        var reply_subject = 'Re: '+getHeader(message.payload.headers, 'Subject').replace(/\"/g, '&quot;');
        $('body').append(
          '<div class="modal fade" id="message-modal-' + message.id +
              '" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">\
            <div class="modal-dialog modal-lg">\
              <div class="modal-content">\
                <div class="modal-header">\
                  <button type="button"\
                          class="close"\
                          data-dismiss="modal"\
                          aria-label="Close">\
                    <span aria-hidden="true">&times;</span></button>\
                  <h4 class="modal-title" id="myModalLabel">' +
                    getHeader(message.payload.headers, 'Subject') +
                  '</h4>\
                </div>\
                <div class="modal-body">\
                  <iframe id="message-iframe-'+message.id+'" srcdoc="<p>Loading...</p>">\
                  </iframe>\
                </div>\
                <div class="modal-footer">\
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>\
                  <button type="button" class="btn btn-primary reply-button" data-dismiss="modal" data-toggle="modal" data-target="#reply-modal"\
                  onclick="fillInReply(\
                    \''+reply_to+'\', \
                    \''+reply_subject+'\', \
                    \''+getHeader(message.payload.headers, 'Message-ID')+'\'\
                    );"\
                  >Reply</button>\
                </div>\
              </div>\
            </div>\
          </div>'
        );
        $('#message-link-'+message.id).on('click', function(){
          var ifrm = $('#message-iframe-'+message.id)[0].contentWindow.document;
          $('body', ifrm).html(getBody(message.payload));
        });
      }

      function sendEmail()
      {
        $('#send-button').addClass('disabled');

        sendMessage(
          {
            'To': 'talkdesk.creditunion@gmail.com',
            'Subject': $('#compose-subject').val()
          },
          $('#compose-message').val(),
          composeTidy
        );

        return false;
      }

      function composeTidy()
      {
        $('#compose-modal').modal('hide');

        // $('#compose-to').val('');
        $('#compose-subject').val('');
        $('#compose-message').val('');

        $('#send-button').removeClass('disabled');

        document.getElementById("redirect2").innerHTML = "<p style='text-align:center; margin-top:5%'>Your request was successful! We'll email you back shortly :)</p>";
      }

      function sendReply()
      {
        $('#reply-button').addClass('disabled');

        sendMessage(
          {
            'To': $('#reply-to').val(),
            'Subject': $('#reply-subject').val(),
            'In-Reply-To': $('#reply-message-id').val()
          },
          $('#reply-message').val(),
          replyTidy
        );

        return false;
      }

      function replyTidy()
      {
        $('#reply-modal').modal('hide');

        $('#reply-message').val('');

        $('#reply-button').removeClass('disabled');
      }

      function fillInReply(to, subject, message_id)
      {
        $('#reply-to').val(to);
        $('#reply-subject').val(subject);
        $('#reply-message-id').val(message_id);
      }

      function sendMessage(headers_obj, message, callback)
      {
        var email = '';

        for(var header in headers_obj)
          email += header += ": "+headers_obj[header]+"\r\n";

        email += "\r\n" + message;

        var sendRequest = gapi.client.gmail.users.messages.send({
          'userId': 'me',
          'resource': {
            'raw': window.btoa(email).replace(/\+/g, '-').replace(/\//g, '_')
          }
        });

        return sendRequest.execute(callback);
      }

      function getHeader(headers, index) {
        var header = '';
        $.each(headers, function(){
          if(this.name.toLowerCase() === index.toLowerCase()){
            header = this.value;
          }
        });
        return header;
      }

      function getBody(message) {
        var encodedBody = '';
        if(typeof message.parts === 'undefined')
        {
          encodedBody = message.body.data;
        }
        else
        {
          encodedBody = getHTMLPart(message.parts);
        }
        encodedBody = encodedBody.replace(/-/g, '+').replace(/_/g, '/').replace(/\s/g, '');
        return decodeURIComponent(escape(window.atob(encodedBody)));
      }

      function getHTMLPart(arr) {
        for(var x = 0; x <= arr.length; x++)
        {
          if(typeof arr[x].parts === 'undefined')
          {
            if(arr[x].mimeType === 'text/html')
            {
              return arr[x].body.data;
            }
          }
          else
          {
            return getHTMLPart(arr[x].parts);
          }
        }
        return '';
      }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
  </body>
</html>
